@font-face {
    font-family: 'Roboto';
    src: url('/Users/eortizr/repos/demolandingpage/style/Roboto/Roboto-Black.ttf') format('ttf'),
         url('/Users/eortizr/repos/demolandingpage/style/Roboto/Roboto-Italic.ttf') format('ttf'),
         url('/Users/eortizr/repos/demolandingpage/style/Roboto/Roboto-Regular.ttf') format('ttf'),
         url('/Users/eortizr/repos/demolandingpage/style/Roboto/Roboto-Bold.ttf') format('ttf'),
         url('/Users/eortizr/repos/demolandingpage/style/Roboto/Roboto-Thin.ttf') format('ttf'); 
         
    font-weight: normal;
    font-style: normal;
  }
 
body {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #eee;
}

img {
    max-height: 500px;
    max-width: auto;
    border-radius: 25px;
}

.header{
    background-color: #1F2937;
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo{
    font-size: 42px;
    font-weight:bolder;
    color: #F9FAF8;

}

.hero {
    background-color: #1F2937;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.hero-content {
    flex-basis: 50%;
    padding: 2rem;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;

}

.hero-subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-style: italic;
}

.hero-button {
    display: block;
    padding: 1rem 2rem;
    border: none;
    border-radius: 12px;
    background-color: #3882F6;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 200px;
    padding-bottom: 200px;
    
}


.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.info-section img {
    flex-basis: 200px;
    max-height: 150px;
    border-radius: 20px;
    border: 4px solid #3882F6; 
    margin-bottom: 50px;
    flex-shrink: 0;
    align-self: center;
  }
  
  .info {
    background-color: #eee;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    
  }

  .info-subtitle{
    max-width: 150px;
    display: flex;
    align-self: center;
  }  
  .info-title {
    font-size: 36px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: center;
    padding-top: 50px;
    flex-shrink: 0;
  }
  .info-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 14px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .info-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    padding-bottom: 50px;
  }

  .quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding: 125px;
  }

  .quote-container {
    display: flex;
    flex-direction: column;
  }
  .quote-text {
    font-weight: lighter;
    
  }

  .quote-subtext {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 18px;  
  }

.cta {
    padding: 125px 150px;
}

.cta-container {
    background-color: #3882F6;
    color: #fff;
    border-radius: 10px;
    padding: 50px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: bold;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cta-subtext {
    font-weight: lighter;
}

.cta-button {
    display: block;
    padding: 1rem 2rem;
    border:2px solid #fff;
    border-radius: 12px;
    background-color: #3882F6;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.footer  {
    background-color: #1F2937;
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px;
}